body, html {
    background-color: rgba(250, 250, 250, 1);
    margin: 0;
    height: 100%;
}

.profile-div {
    background-image: url('https://instagram.com/static/sprites/core/d21416.png');
    background-position: -78px -322px;
    width: 24px;
    height: 24px;
}

.nav {
    height: 77px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgba(230,230,230,1);
}

.nav-item img {
    width: 100px;
}