._5axto, ._o2h6b {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

._de9bg {
    color: #262626;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 0;
}

._8mm5v, ._i572c {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 0;
}

._8mm5v {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

._i572c {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._8mm5v, ._i572c {
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 0;
}

._bugdy, ._qu5wj {
    display: block;
}

ol, ul {
    list-style: none;
}


h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

._79dar {
    display: inline;
    font-weight: 600;
}

h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

._bgr2x._9o0bc {
    margin-top: 0;
    margin-bottom: 20px;
}

._9o0bc {
    margin-top: 17px;
    -webkit-padding-start: 0px;
}

._9o0bc, ._i305n {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

ul, menu, dir {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

._218yx:first-child {
    margin-left: 0;
}

._218yx {
    font-size: 16px;
    margin-right: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

._s53mj, ._s53mj:active, ._s53mj:hover, ._s53mj:visited {
    color: inherit;
}

._bkw5z {
    color: #262626;
    font-weight: 600;
}

@media (min-width: 736px) {
    ._qfkcw ._5axto {
        padding: 0;
        margin-bottom: 44px;
    }

    ._de9bg {
        -webkit-flex-basis: 30px;
        -ms-flex-preferred-size: 30px;
        flex-basis: 30px;
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }

    ._8mm5v {
        margin-bottom: 2px;
        margin-top: 2px;
    }

    ._qfkcw ._8mm5v {
        margin-bottom: 20px;
        margin-top: 0;
    }

    ._i572c {
        font-size: 32px;
        line-height: 40px;
        font-weight: 200;
    }

    ._bugdy {
        font-size: 16px;
        line-height: 24px;
        margin-top: 14px;
    }

    ._qfkcw ._bugdy {
        margin: 0;
    }
}

@media (max-width: 735px) {
    ._i572c {
        font-size: 22px;
        line-height: 26px;
    }
    ._qfkcw ._bugdy {
        width: 100%;
        margin: 0 16px 12px;
        padding-bottom: 24px;
    }
}